<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131520995-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-131520995-1');
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MakeUofT 2020</title>
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- Foundation JS -->
        <script type="text/javascript" src="static/js/foundation.min.js" ></script>
        <!-- Site JS -->
        <!--<script type="text/javascript" src="js/main.js" ></script>-->

        <!-- Foundation CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/foundation.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/app.css') }}" />
        <!-- Site CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/styles.css') }}" />
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900|Source+Sans+Pro:400,400i,600,700,900&display=swap" rel="stylesheet">

        <!-- Landing page JS -->
        <script type="text/javascript" src="static/js/index.js"></script>

    </head>
    <body>
        <!-- MLH Banner -->
        <!--a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:100" href="https://mlh.io/seasons/na-2019/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2019-season&utm_content=white" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2019/mlh-trust-badge-2019-white.svg" alt="Major League Hacking 2019 Hackathon Season" style="width:100%"></a-->

        <!-- Navbar -->
        <div class="title-bar" data-responsive-toggle="top-bar" data-hide-for="large">
            <button class="menu-icon" type="button" data-toggle="top-bar"></button>
            <div class="title-bar-title"><a href="/"><img id="title-bar-logo" src="static/img/IEEELogo_Update_18-19_Vector_Blue.svg"/></a></div>
        </div>

        <div class="top-bar-container" id="top-bar" data-sticky-container>
            <div class="sticky top-bar" data-sticky data-options="marginTop: 0;" data-top-anchor="1">
                <div class="top-bar-left">
                    <ul class="menu">
                        <li><a href="/"><img src="static/img/IEEELogo_Update_18-19_Vector_Blue.svg" /></a></li>
                    </ul>
                </div>
                <nav class="top-bar-right">
                    <ul class="menu" data-smooth-scroll>
                        <li id="home-a"><a href="#section-landing">Home</a></li>
                        <!--li id="schedule-a"><a href="#section-schedule">Schedule</a></li-->
                        <li id="about-a"><a href="#section-about">About</a></li>
                        <li id="faq-a"><a href="#section-faq">FAQ</a></li>
                        <!--li id="sponsors-a"><a href="#section-sponsors">Sponsorship</a></li-->
                        <li id="contact-a"><a href="#footer">Contact</a></li>
                        <!--li id="printing-a"><a class="apply-button" href="https://goo.gl/forms/UJ8BlCMVfOoR5OYA2">3D Printing</a></li-->

                    </ul>
                </nav>
            </div>
        </div>

        <!-- Main site body -->

        <section class="grid-x grid-padding-x section align-middle" id="section-landing">
            <div class="max-width">
                <div class="cell small-12 large-6 small-order-1 medium-order-2 updatedAlignment">
                    <h1 style="font-size: 70px">MakeUofT</h1>
                    <h2>Canada's Largest Makeathon</h2>

                    <img class="defn" src="static/img/MakeathonDefinition.svg">
                    <!--<h2>Registration closes on January 31!</h2>-->
                    <h4 class="updated-title">Stay Updated!</h4>
                    <form id="mailing-list-top" class="mailing-list" method="POST">
                        <div class="stay-updated-container">
                        <input type="text" class="stay-updated" name="email" placeholder="sponsor@example.com">
                        <button type="submit" class="btn">
                            <div class="arrow">
                                <div class="arrow-line arrow-line-1"></div>
                                <div class="arrow-line arrow-line-2"></div>
                                <div class="arrow-line arrow-line-3"></div>
                            </div>
                            <!-- <span class="btn-text">See More</span> -->
                        </button>
                    </div>
                    </form>
                </div>
                <div class="cell small-12 large-6 small-order-1 medium-order-2 landing-img">
                    <img src="static/img/MachineTopImage.svg">
                </div>
            </div>

        </section>

		<!-- Schedule -->
        <!--a name="schedule" class="anchor"></a>
        <section class="grid-x section" id="section-schedule">
            <div class="cell small-12">
                <h1>Schedule</h1>
                <img src="static/img/Schedule.svg">
            </div>
            <div class="cell small-12" style="margin-top: 2em;">
                <p>* MY = Myhal Centre for Engineering Innovation and Entrepreneurship, 55 St. George St, Toronto, ON M5S 1A4</p>
                <p>** Schedule tentative to changes in location. Participants will be notified of any changes via Slack.</p>
            </div>
        </section-->

        <a name="about" class="anchor"></a>
        <section class="grid-x section" id="section-about">
            <div class="cell small-12 large-12 max-width">
                <h1>About</h1>
                <p>Join us at MakeUofT to transform your ideas into reality! In this 24-hour event, you and your team will build a project from scratch through the integration of hardware and software. Afterwards, you will present your project to a panel of industry judges to compete for prizes. This year, the theme for MakeUofT is <b>connectivity</b> - including bluetooth, radio, internet, and anything else you can think of!</p>
                <p>Our makeathon is designed for everyone to participate, from beginners to experts. To help facilitate your learning experience, we will host workshops throughout the event featuring speakers from some of the top companies in the industry. The hardware and equipment are provided by us - just bring your laptop and ideas!</p>
            </div>
        </section>

        <a name="moments" class="anchor"></a>
        <section class="grid-x section" id="section-moments">
            <div class="updatedAlignment img-container">
               <h1>Moments from Last Year</h1><br><br>
               <div class="container img-container" style="flex-direction: row-reverse">
                    <img src="static/img/lastyear/lastyear10.jpg" alt="" class="hover-img">
                    <img src="static/img/lastyear/lastyear1.jpg" alt="" class="hover-img">
                    <img src="static/img/lastyear/lastyear2.jpg" alt="" class="hover-img">
                    <img src="static/img/lastyear/lastyear3.jpg" alt="" class="hover-img">
                    <!-- <img src="static/img/lastyear/lastyear4.jpg" alt="" class="hover-img"> -->
                    <img src="static/img/lastyear/lastyear5.jpg" alt="" class="hover-img">
                    <!-- <img src="static/img/lastyear/lastyear6.jpg" alt="" class="hover-img"> -->
                    <!-- <img src="static/img/lastyear/lastyear7.jpg" alt="" class="hover-img"> -->
                    <!-- <img src="static/img/lastyear/lastyear8.jpg" alt="" class="hover-img"> -->
                    <img src="static/img/lastyear/lastyear12.jpg" alt="" class="hover-img">
                    <img src="static/img/lastyear/lastyear13.jpg" alt="" class="hover-img">
                    <img src="static/img/lastyear/lastyear11.jpg" alt="" class="hover-img">
                    <img src="static/img/lastyear/lastyear9.jpg" alt="" class="hover-img left">
               </div>
            </div>
        </section>

        <a name="become-sponsor" class="anchor"></a>
        <section class="grid-x section" id="section-sponsorus">
             <div class="sponsor-us">
                  <p>We wouldn’t be able to provide this event to students without the support of our sponsors!</p>

                  <p>If you would like to sponsor us, feel free to reach out to our email:  <a class="email-style" href="mailto:makeuoft@gmail.com">makeuoft@gmail.com</a></p>
                 <!--<h2>Registration closes on January 31!</h2>-->
                 <br>
		 <center><a href="mailto:makeuoft@gmail.com" class="pink-btn">Become a Sponsor</a></center>
             </div>
             <div class="MiddleCircles">
                 <img src="static/img/MiddleCircles.svg">
             </div>
        </section>

        <a name="faq" class="anchor"></a>
        <section class="grid-x" id="section-faq">
            <div class="section">
                <div class="cell small-12">
                    <h1>FAQ</h1>
                </div>
                <div class="grid-x grid-padding-x" id="faq-questions">
                    <div class="cell small-12 large-6">
                        <!--h3>About</h3-->

                        <h4>What is a <span style="color:#F7B095">makeathon</span>?</h4>
                        <p>A makeathon is like a hackathon but more hands-on. It involves the integration of hardware and software to build a working device that could be used in any application from gaming to solving a real life problem! As such, we require all participants to build some sort of physical device that is at the very least electrically powered or computer programmed.</p>

                        <h4>What if I have <span style="color:#9C9AC4">no experience</span>? Can I still come?</h4>
                        <p>Yes! MakeUofT is for everyone, from beginners to veterans. There will be a series of workshops throughout the event where you will have the opportunity to learn technical skills from industry mentors. Also, if you ever get stuck on your project just ask one of the mentors!</p>

                        <h4>How much does it cost?</h4>
                        <p>Everything is free of charge! There is no application fee and we’ll be providing all the components, equipment, and food you’ll need.</p>

                        <!--h4>What types of hardware and equipment will there be?</h4>
                        <p>We have a variety of hardware, ranging from Arduinos to Qualcomm Dragonboards! We also have a wide assortment of peripheral boards, sensors, and other hardware components. 3D printers and basic electronics equipment will also be provided. If there’s something in particular that you’d like to see at MakeUofT, feel free to send us an email and we’ll see what we can do!</p>

                        <h4>How does judging work?</h4>
                        <p>Judging will be done by a panel of industry representatives and will be based on a few criteria, such as technical complexity, originality, and presentation. Prizes will be awarded to teams in several categories!</p>

                        <h4>Can I keep what I make?</h4>
                        <p>Any components you brought yourself, of course! However, since the majority of the provided hardware is not our own property, those components will have to be returned.</p>


                        <h4>Are you providing travel reimbursements?</h4>
                        <p>Unfortunately, we will not be able to provide travel reimbursements at MakeUofT 2019 - but look out for MakeUofT 2020 to see if this changes in the future!</p>

                        <h4>What time is the Makeathon?</h4>
                        <p>Check-in opens at 9:00 am on Saturday, February 16, and the event ends at 5:00 pm on Sunday, February 17. We will release a full schedule closer to the event!</p>
                         -->
                    </div>
                    <div class="cell small-12 large-6">
                        <!--h3>Applying</h3-->
                        <!--h4>Who can apply? When is the deadline to apply?</h4>
                        <p>We’re welcoming any students of age 18 or over! Applications open on December 28th and close at 11:59 PM EST on January 31st. Acceptances will be internally decided on a rolling basis, so apply early to maximize your chances of getting accepted!</p>

                        <h4>Can I apply with a team?</h4>
                        <p>Yes, you can! Simply indicate that you’re applying as a team on the application and give your teammates your unique team ID. Please keep in mind that teams are a maximum of 4 people. During the application screening process, we will be considering teams as a whole. However, there may be exceptional circumstances where we decide to only accept certain members of the team, due to their outstanding application.</p>

                        <h4>I don’t have a team or idea - what should I do?</h4>
                        <p>No worries! We can help you find a team on the day of the event. Also, there will be mentors present at the event to help you generate ideas.</p>

                        <h4>Is everyone going to be accepted?</h4>
                        <p>Unfortunately, no, because there is only a limited amount of hardware compared to the number of applicants. You will be selected based on your experience and enthusiasm.</p>

                        <h4>When will I hear back from you? What do I do once I have been accepted?</h4>
                        <p>The latest you will get a response is February 10th. If you have been accepted at any point, then you must buy a free ticket through the Eventbrite link we give you through an acceptance email. This must be done by the deadline stated in your acceptance email or you will automatically lose your spot. Once you have bought a free Eventbrite ticket, you may wait for us to send you participation details in the days right before the Makeathon. After that, get ready for MakeUofT 2019!</p>
                         -->
                         <h4>What types of <span style="color:#3B90B6">hardware and equipment</span> will there be?</h4>
                         <p>We have a variety of hardware, ranging from Arduinos to Qualcomm Dragonboards! We also have a wide assortment of peripheral boards, sensors, and other hardware components. 3D printers and basic electronics equipment will also be provided. If there’s something in particular that you’d like to see at MakeUofT, feel free to send us an email and we’ll see what we can do!</p>

                         <h4>Can I keep what I make?</h4>
                         <p>Any components you brought yourself, of course! However, since the majority of the provided hardware is not our own property, those components will have to be returned.</p>


                         <h4>Are you providing <span style="color:#FF8D00">travel reimbursements</span>?</h4>
                         <p>Unfortunately, we will not be able to provide travel reimbursements at MakeUofT 2019 - but look out for MakeUofT 2020 to see if this changes in the future!</p>

                    </div>
                </div>
                <div class="cell small-12 questions-div">
                    <p>Have any other questions? Feel free to contact us through our Facebook or email us at <a class="email-style" href="mailto:makeuoft@gmail.com">makeuoft@gmail.com</a>!</p>
                </div>
            </div>
        </section>

        <a name="stay-updated" class="anchor"></a>
        <section class="grid-x section" id="section-sponsorbtn">
               <h1>Stay Updated</h1><br><br>
               <form id="mailing-list-bottom" class="mailing-list" method="POST">
                    <div class="stay-updated-container">
                    <input type="text" class="stay-updated" name="email" placeholder="sponsor@example.com">
                    <button type="submit" class="btn">
                        <div class="arrow">
                            <div class="arrow-line arrow-line-1"></div>
                            <div class="arrow-line arrow-line-2"></div>
                            <div class="arrow-line arrow-line-3"></div>
                        </div>
                        <!-- <span class="btn-text">See More</span> -->
                   </button>
                </div>
               </form>
        </section>

        <!--a name="sponsors" class="anchor"></a>
        <section class="grid-x section" id="section-sponsors">
            <div class="cell small-12">
                <h1>Sponsors</h1>
                <img src="static/img/Sponsorship.svg" class="sponsors-graphic" alt="Thanks to our sponsors!">
                <h2>Partnered With</h2>
                <img src="static/img/mlh-logo-color.svg" class="mlh-logo" alt="MLH">
            </div>
       </section-->

        <a name="contact" class="anchor"></a>
        <div class="grid-x section" id="footer">
            <div class="cell small-12">
                <h1>Contact Us</h1>
                <p><a class="contact-email" href="mailto:makeuoft@gmail.com">makeuoft@gmail.com</a></p>
            </div>
            <div class="cell small-12 social-logos">
                <a href="https://www.facebook.com/ieeeuoft/"><img src="static/img/Facebook-Logo.svg"></a>
                <a href="https://www.instagram.com/ieee_uoft/"><img src="static/img/Instagram-Logo.svg"></a>
            </div>
            <div class="cell small-12">
                <a href="/"><img src="static/img/IEEELogo_Update_18-19_Vector_White.svg" class="ieee-logo"></a>
                <p>Copyright &#169 2018-2019 IEEE University of Toronto Student Branch</p>
                <!--p>As an MLH member event, we expect all event participants and organizers to abide by the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a>.</p-->
            </div>
        </div>

        <script>
            $(document).foundation();
        </script>
    </body>
</html>
