@import "constants.scss";

body {
    background-color: $base4;
    
}

@media screen and (min-width: $large-up) { // Large and up
    .top-bar-right {
        margin-right: calc(3em) !important;
    }
}

#application-landing {
    // text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    h1 {
        color: $textColorOnLight;
        margin: 0;
    }

    h2 {
        color: $textColorOnLight;
    }
    
    h3 {
        color: $textColorOnLight;
    }

    h4 {
        color: $textColorOnLight;
    }

    p {
        color: $textColorOnLight;
        font-size: 20px;
    }

    .alert p {
        color: red;
    }

    .grid-x {
        padding: 15px;
    }

    a {
        color: $accentDark;
        text-decoration: underline;
    }
}

.button {
    font-size: 18px;
    border-radius: 10px;
    color: $textColorOnDark !important;
}

textarea {
    border-radius: 10px;
}

input {
    border-radius: 10px !important;
}

select {
    border-radius: 10px;
}
