$base0: #00639c;
$base1: #0485Ba;
$base2: #539CC9;
$base3: #8BB5D5;
$base4: #BFD4E6;
$base5: #DCE8F1;
$base6: #F6AA58;
$linkColorOnDark: #FFF;
$textColorOnDark: #FFF;
$textColorOnLight: $base0;
$textColorOnLight2: #373737;
$accentLight: #9BD3D7;
$accentDark: #2CA0AF;
$accentRed: #EE6E73;
$maxWidth: 75em;
$small-down: 40em;
$medium-down: 64em;
$medium-up: 40em;
$large-down: 75em;
$large-up: 64em;