body {
  background: linear-gradient(130.14deg, #48A0AF 9.68%, #3386BA 87.5%);
}

header {
  width: 100%;
  height: 60px;
  padding: 10px 20px;
}

.header-logo {
  height: 100%;
}

h1 {
  font-family: "Montserrat", sans-serif !important;
    text-align: center;
    font-weight: bold;
}

h4 {
  text-align: right;
  font-size: 1.25rem;
  padding-right: 1rem;
}

label {
  font-size: 1rem;
  font-weight: bold;
}

#application-form-wrapper {
  background-color: white;
  max-width: 1000px;
}

#application-form-wrapper h1 {
  padding: 1rem 0;
}

.consent-field label {
  font-weight: normal !important;
  color: #666666;
}