<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Foundation CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/foundation.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/app.css') }}" />
    <!-- Site CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/styles.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&amp;display=swap" rel="stylesheet">  

    <title>Forgot Password</title>
    
</head>
<body>
    <div class="login-form-div">
        <div class="form-container">
            <form class="login-form" id="forgot-pw-form" method="POST" novalidate>
                    {{ form.hidden_tag() }}
                    <h1>Forgot your password?</h1>
                    <p>We'll send a reset link to your email.</p>

                    <div class="input-div">
                        <label for="email">Enter email</label>
                        {{ form.email(type="email", id="email-forgot-pw") }}
                    </div>
                    <button type="submit" form="forgot-pw-form" class="submit-btn">Submit</button>

                    <span class="form-links">
                        <a href="{{ url_for('auth.login')}}" class="forgot-pw">Log In</a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="{{ url_for('auth.register')}}" class="forgot-pw">Sign up</a>
                    </span>

                    <h3 style="margin-top: 3rem">Forgot your email?</h3>
                    <p style="text-align: center;">If you forgot the email you applied with, you'll have to <a href="/auth/register">create a new account</a></p>
            </form>
        </div>

        <img src="{{ url_for('static', filename='img/MachineRight.svg') }}" class="MiddleCircles">
    </div>
</body>
</html>