<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>
</head>
<body>
    <h1>Forgot your password?</h1>
    <p>We'll send a reset link to your email.</p>
    <form class="login-form" id="forgot-pw-form" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="input-div">
            <label for="email">Enter email</label>
            {{ form.email(type="email", id="email-forgot-pw") }}
        </div>
    </form>

    <div>
        <h2>Forgot your email?</h2>
        <p>If you forgot the email you applied with, you'll have to <a href="/auth/register">create a new account</a></p>
    </div>
</body>
</html>