<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/styles.css') }}" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900|Source+Sans+Pro:400,400i,600,700,900&display=swap" rel="stylesheet">


    <title>User Login</title>
</head>
<body>
    <header class="form-header">
        <a href="/makeuoft/"><img class="form-header-logo" src="{{ url_for('static', filename='img/CubeyBoi.svg') }}"/></a>
    </header>

    <div class="login-form-div">
        <div class="form-container">
            <form class="login-form" id="login-form" method="POST" novalidate>
                    {{ form.hidden_tag() }}
                    <h1>Log In</h1>
                    <div class="input-div">
                        <label for="email">Email</label>
                        {{ form.email(type="email", id="email") }}
                    </div>

                    <div class="input-div">
                        <label for="password">Password</label>
                        {{ form.password(type="password", id="password") }}
                    </div>
                    <div class="remember-me">
                         {{ form.remember_me() }} Remember Me!
                    </div>
                    <button type="submit" form="login-form" class="submit-btn">Sign In</button>

                    <span class="form-links">
                        <a href="/auth/forgotPasswordEnterEmail" class="forgot-pw">Forgot password</a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;  
                        <a href="/auth/register" class="forgot-pw">Sign up</a>
                    </span>
            </form>
        </div>

        <img src="{{ url_for('static', filename='img/MiddleCircles.svg') }}" class="MiddleCircles">
    </div>

</body>
</html>
